src/main/mule/mulesoft-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ec421faf-b4ef-41c4-9338-b482565b8dda" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-ci-cdFlow" doc:id="05280456-d88a-4061-804f-1c9e51f376dd" >
		<http:listener doc:name="Listener" doc:id="b424e8f5-db5d-4aea-b55a-a99a9012bb21" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="211bbbf9-a31f-4235-885d-eaf3686bc147" message="#[payload]"/>
	</flow>
</mule>
